Datos/Web References/Rsvcmemos/svcmemos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarItems">
        <s:complexType />
      </s:element>
      <s:element name="CargarItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarItemsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarDepartamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encargado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarDepartamentoResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertarTecnico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pnombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pcargo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarTecnicoResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarTecnico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarTecnicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarTecnicoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDpto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pCodigo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarDptoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarDptoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDepartamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encargado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDepartamentoResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActualizarTecnico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cargo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarTecnicoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CargarItemsSoapIn">
    <wsdl:part name="parameters" element="tns:CargarItems" />
  </wsdl:message>
  <wsdl:message name="CargarItemsSoapOut">
    <wsdl:part name="parameters" element="tns:CargarItemsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarDepartamentoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarDepartamento" />
  </wsdl:message>
  <wsdl:message name="InsertarDepartamentoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarTecnicoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarTecnico" />
  </wsdl:message>
  <wsdl:message name="InsertarTecnicoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarTecnicoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarTecnicoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarTecnico" />
  </wsdl:message>
  <wsdl:message name="BuscarTecnicoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarTecnicoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarDptoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarDpto" />
  </wsdl:message>
  <wsdl:message name="BuscarDptoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarDptoResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarDepartamentoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarDepartamento" />
  </wsdl:message>
  <wsdl:message name="ActualizarDepartamentoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarTecnicoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarTecnico" />
  </wsdl:message>
  <wsdl:message name="ActualizarTecnicoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarTecnicoResponse" />
  </wsdl:message>
  <wsdl:portType name="svcmemosSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarItems">
      <wsdl:input message="tns:CargarItemsSoapIn" />
      <wsdl:output message="tns:CargarItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarDepartamento">
      <wsdl:input message="tns:InsertarDepartamentoSoapIn" />
      <wsdl:output message="tns:InsertarDepartamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarTecnico">
      <wsdl:input message="tns:InsertarTecnicoSoapIn" />
      <wsdl:output message="tns:InsertarTecnicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTecnico">
      <wsdl:input message="tns:BuscarTecnicoSoapIn" />
      <wsdl:output message="tns:BuscarTecnicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDpto">
      <wsdl:input message="tns:BuscarDptoSoapIn" />
      <wsdl:output message="tns:BuscarDptoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDepartamento">
      <wsdl:input message="tns:ActualizarDepartamentoSoapIn" />
      <wsdl:output message="tns:ActualizarDepartamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTecnico">
      <wsdl:input message="tns:ActualizarTecnicoSoapIn" />
      <wsdl:output message="tns:ActualizarTecnicoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="svcmemosSoap" type="tns:svcmemosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarItems">
      <soap:operation soapAction="http://tempuri.org/CargarItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDepartamento">
      <soap:operation soapAction="http://tempuri.org/InsertarDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTecnico">
      <soap:operation soapAction="http://tempuri.org/InsertarTecnico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTecnico">
      <soap:operation soapAction="http://tempuri.org/BuscarTecnico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDpto">
      <soap:operation soapAction="http://tempuri.org/BuscarDpto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDepartamento">
      <soap:operation soapAction="http://tempuri.org/ActualizarDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTecnico">
      <soap:operation soapAction="http://tempuri.org/ActualizarTecnico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="svcmemosSoap12" type="tns:svcmemosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarItems">
      <soap12:operation soapAction="http://tempuri.org/CargarItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDepartamento">
      <soap12:operation soapAction="http://tempuri.org/InsertarDepartamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTecnico">
      <soap12:operation soapAction="http://tempuri.org/InsertarTecnico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTecnico">
      <soap12:operation soapAction="http://tempuri.org/BuscarTecnico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDpto">
      <soap12:operation soapAction="http://tempuri.org/BuscarDpto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDepartamento">
      <soap12:operation soapAction="http://tempuri.org/ActualizarDepartamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTecnico">
      <soap12:operation soapAction="http://tempuri.org/ActualizarTecnico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svcmemos">
    <wsdl:port name="svcmemosSoap" binding="tns:svcmemosSoap">
      <soap:address location="http://localhost:55959/svcmemos.asmx" />
    </wsdl:port>
    <wsdl:port name="svcmemosSoap12" binding="tns:svcmemosSoap12">
      <soap12:address location="http://localhost:55959/svcmemos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>